html, body{
    margin: 0;
    background: #eee;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    height: 50px;
    width: 100%;
}

.menu a{
    color: inherit;
    line-height: 50px;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.4s;
}

.menu a.active{
    color: #ff0;
}

.content{
    margin-top: 70px;
}

.top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: crimson;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    line-height: 50px;
    display: none;
}

.top:hover{
    box-shadow: 0 0 20px cyan;
}